.wm-list * {
	box-sizing: border-box;
}
.wm-list {
	display: block;
}
.wm-list--clean > ul {
	list-style: none;
	margin: 0;
	padding: 0 !important;
}
.wm-list--type-horizontal > ul {
	display: flex;
	gap: var(--_list-gap);
	list-style: none;
	padding: 0 !important;
}
.wm-list--alignment-center > ul {
	justify-content: center;
}
