wm-carousel:not(.focusmode) figure {
  position: relative;
}

wm-carousel figcaption {
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 0;
  pointer-events: none;
  inline-size: 100%;
}
