:root {
  --_accordion-background: transparent;
  --_accordion-contrast: #FFF;
  --_accordion-padding-inline: 0;
  --_accordion-padding-block: 0;
  --_accordion-icon: none;
  --_accordion-icon-size: 0;
}