@font-face {
	font-family: 'Wiener Melange';
	src: url('/wiener-melange/assets/fonts/WienerMelangeVF.woff2') format('woff2');
	/* font-weight: normal;
	font-style: normal;
	font-display: swap; */
}
:root {
	--theme-font-family-base: 'Wiener Melange', sans-serif;
	--theme-font-family-heading: 'Wiener Melange', sans-serif;
	/* ... */
}

html,
body {
	@apply h-full overflow-hidden;
}
